/*background-image: url("C:\Users\r-takahashi\Documents\Play training\簡易画像ビューワ\img\1.jpg");
*/

.pict{

}

.no1 {
  color: #ff4d4d;
  font: 25px arial black, sans-serif;
  word-spacing: 10px;
  font-variant: small-caps;
}

/*.no2 {
  color: red;
  font: 25px arial, sans-serif;
  text-shadow: 2px 2px 1px rgba(255,0,0,0.5);
}
*/

.revbtn{

}

.fwdbtn{

}
